extends ../layout/app

block title
    | Создать новость

block modal
    #symbolsModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4#myModalLabel.modal-title Символы
                .modal-body
                    each item in symbols
                        img(src="/src/img/symbols/" + item.file alt=item.name).symbol.symbol_add
                .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') Закрыть

block content
    h2 Создать новость
    form(action="/news/add" method="POST" enctype="multipart/form-data")
        input(type="text" name="title" placeholder="Название" required).form-control
        br
        textarea(name="text" placeholder="Полный текст").form-control.news-text#news-text
        button.btn.btn-primary.btn-xs#divider Разделитель
        button.btn.btn-primary.btn-xs#symbols Символы
        hr
        input(type="text" name="tags" placeholder="Теги через пробел" required).form-control
        h2 Главное изображение
        input(type="file" name="main_image" placeholder="Изображение").form-control
        h2 Галерея
        div.gallery
            input(type="file" data-num="0" name="gallery_0").form-control.gal_pic
        br        
        button.btn.btn-primary Создать

        // Scripts
        script(src='/src/js/gallery.js')
        script(src='/src/js/editor.js')
